.BIG {
    width: 230px;

    .card {
        padding: 15px;
        border-radius: 12px;
        background-color: var(--card-bg);
    }
    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }
    .img {
        width: 200px;
        height: 200px;
    }
    .date {
        position: absolute;
        right: 0;
        top: 0;
    }
    .infoWrapper {
        display: flex;
        align-items: center;
    }
    .types p {

    }
    .views {

    }
    .title p {

    }
}

.SMALL {
    width: 230px;
    transition: 0.25s;
    cursor: pointer;
    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }
    &:hover {
        opacity: 0.8;
        transform: scale(1.01);
        .date {
            display: block;
        }
    }
    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }
    .img {
        width: 200px;
        height: 200px;
    }
    .date {
        position: absolute;
        right: 0;
        top: 0;
    }
    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
    .types p {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .views {
        margin-left: auto;
        margin-right: 8px;
    }
    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
