.Code {
    border: 1px solid var(--primary-color);
    background: var(--code-bg);
    padding: 16px;
    position: relative;
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
