.app.dark {
    --bg-color: #050559;
    --inverted-bg-color: #dadada;
    --primary-color: #0bb70b;
    --secondary-color: #025002;
    --inverted-primary-color: #0a0ae1;
    --inverted-secondary-color: #377dff;
}
