.app.light {
  --bg-color: #bbbbbb;
  --inverted-bg-color: #070777;

  --primary-color: #04045e;
  --secondary-color: #377dff;
  --inverted-primary-color: #046904;
  --inverted-secondary-color: #0bb70b;

}