.app_light_theme {
    --bg-color: #dadada;
    --inverted-bg-color: #050559;
    --primary-color: #0a0ae1;
    --secondary-color: #377dff;
    --inverted-primary-color: #17e317;
    --inverted-secondary-color: #0c9b0c;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #f1efef;

    // card
    --card-bg: #bbbaba;
}
